@inject Blazorcrud.Client.Shared.PageHistoryState PageHistoryState

<EditForm Model="@store" OnValidSubmit="@OnValidSubmit">
    <FluentValidator TValidator="StoreValidator" />
    <div class="form-group">
        <label>Name :</label>
        <div>
            <InputText @bind-Value="@store.Name" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => store.Name)" />
        </div>
    </div>
    <div class="form-group">
        <label>Guid :</label>
        <div>
            <p class="form-control col-sm-3">@store.StoreGuid</p>
        </div>
    </div>

    <hr/>
 
    <div class="form-group">
        <button disabled="@loading" class="btn btn-primary">
            @if (loading) 
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            @ButtonText
        </button>
        @if (PageHistoryState.CanGoBack()){
            <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Cancel</NavLink>
        }
        else{
            <NavLink href="/store/1" class="btn btn-link">Back</NavLink>
        }
    </div>

</EditForm>

@code {
    [Parameter]
    public Store store { get; set; }
    [Parameter]
    public Guid StoreGuid { get; set; }
    [Parameter]
    public string ButtonText { get; set; } = "Save";
    [Parameter]
    public bool loading {get; set;} = false;
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}