@page "/store/guid/{guid}"
@inject IStoreService StoreService
@inject NavigationManager navManager
@inject Blazorcrud.Client.Shared.PageHistoryState PageHistoryState

<h1>View Store</h1>
<br/>

<table class="table col-md-6">
    <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>@store.StoreGuid</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>@store.Name</td>
        </tr>
    </tbody>
</table>

<hr />
<h3>Rainchecks</h3>
<hr />

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Product</th>
            <th>Store</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var raincheck in store.Rainchecks)
        {
            <tr>
                <td>@raincheck.Product.Title</td>
                <td>@raincheck.Store.Name</td>
                <td>@raincheck.Count</td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    @if (PageHistoryState.CanGoBack()){
        <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Back</NavLink>
    }
    else{
        <NavLink href="/store/1" class="btn btn-link">Back</NavLink>
    }
</div>

@code {
    [Parameter]
    public string guid { get; set; }

    Store store = new Store
    {
        Name = "",
        Rainchecks = new List<Raincheck>
        {
            new Raincheck {Name=""}
        }
    };

    protected async override Task OnParametersSetAsync()
    {
        store = await StoreService.GetByGuid(guid);
    }
}